In [1]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver # Importing selenium webdriver 

# Importing required Exceptions which needs to handled
from selenium.common.exceptions import StaleElementReferenceException, NoSuchElementException

In [42]:
# Activating the chrome browser
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

# Question-1
Scrape the details of most viewed videos on YouTube from Wikipedia: Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/ You need to find following details:
            A) Rank B) Name C) Artist D) Upload date E) Views

In [35]:
# Opening the url
driver.get('https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos/')

In [36]:
#clicking the search list
search_button=driver.find_element_by_xpath("//a[@class='external text']")
search_button.click()

In [37]:
#clicking the first search result 
list_search=driver.find_element_by_xpath("//ul[@class='mw-search-results']/li[1]/div/a")
list_search.click()

In [38]:
# creating empty lists for scraping data
Rank=[]
Name=[]
Artist=[]
Upload_Date=[]
Views=[]

In [39]:
rank = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[1]')
for d in rank:
    Rank.append(d.text)
name = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[2]')
for d in name:
    Name.append(d.text)
art = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[3]')
for d in art:
    Artist.append(d.text)
view = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[4]')
for d in view:
    Views.append(d.text)
Date = driver.find_elements_by_xpath('//table[@class="wikitable sortable jquery-tablesorter"]/tbody/tr/td[5]')
for d in Date:
    Upload_Date.append(d.text)

In [40]:
# creating the dataframe from the scraped data
import pandas as pd
Videos=pd.DataFrame({})
Videos['Rank']=Rank[0:30]
Videos['Name']=Name[0:30]
Videos['Artist']=Artist[0:30]
Videos['Upload_Date']=Upload_Date[0:30]
Videos['Views']=Views[0:30]
Videos

,Rank,Name,Artist,Upload_Date,Views
0,1.,"""Baby Shark Dance""[28]",Pinkfong Kids' Songs & Stories,"June 17, 2016",7.91
1,2.,"""Despacito""[30]",Luis Fonsi featuring Daddy Yankee,"January 12, 2017",7.20
2,3.,"""Shape of You""[31]",Ed Sheeran,"January 30, 2017",5.18
3,4.,"""See You Again""[32]",Wiz Khalifa featuring Charlie Puth,"April 6, 2015",4.96
4,5.,"""Johny Johny Yes Papa""[35]",LooLoo Kids,"October 8, 2016",4.77
5,6.,"""Masha and the Bear – Recipe for Disaster""[36]",Get Movies,"January 31, 2012",4.41
6,7.,"""Uptown Funk""[37]",Mark Ronson featuring Bruno Mars,"November 19, 2014",4.09
7,8.,"""Gangnam Style""[38]",Psy,"July 15, 2012",3.97
8,9.,"""Learning Colors – Colorful Eggs on a Farm""[40]",Miroshka TV,"February 27, 2018",3.69
9,10.,"""Bath Song""[41]",Cocomelon – Nursery Rhymes,"May 2, 2018",3.64
10,11.,"""Phonics Song with Two Words""[42]",ChuChu TV,"March 6, 2014",3.53
11,12.,"""Sorry""[43]",Justin Bieber,"October 22, 2015",3.40
12,13.,"""Sugar""[44]",Maroon 5,"January 14, 2015",3.39
13,14.,"""Roar""[45]",Katy Perry,"September 5, 2013",3.27
14,15.,"""Counting Stars""[46]",OneRepublic,"May 31, 2013",3.19
15,16.,"""Thinking Out Loud""[47]",Ed Sheeran,"October 7, 2014",3.18
16,17.,"""Dame Tu Cosita""[48]",El Chombo featuring Cutty Ranks,"April 5, 2018",3.11
17,18.,"""Shake It Off""[49]",Taylor Swift,"August 18, 2014",3.02
18,19.,"""Faded""[50]",Alan Walker,"December 3, 2015",2.98
19,20.,"""Lean On""[51]",Major Lazer and DJ Snake featuring MØ,"March 22, 2015",2.97
20,21.,"""Bailando""[52]",Enrique Iglesias featuring Descemer Bueno and ...,"April 11, 2014",2.97
21,22.,"""Dark Horse""[53]",Katy Perry featuring Juicy J,"February 20, 2014",2.97
22,23.,"""Girls Like You""[54]",Maroon 5 featuring Cardi B,"May 31, 2018",2.96
23,24.,"""Let Her Go""[55]",Passenger,"July 25, 2012",2.91
24,25.,"""Mi Gente""[56]",J Balvin and Willy William,"June 29, 2017",2.86
25,26.,"""Hello""[57]",Adele,"October 22, 2015",2.79
26,27.,"""Perfect""[58]",Ed Sheeran,"November 9, 2017",2.74
27,28.,"""Waka Waka (This Time for Africa)""[59]",Shakira featuring Freshlyground,"June 4, 2010",2.74
28,29.,"""Blank Space""[60]",Taylor Swift,"November 10, 2014",2.72
29,30.,"""Chantaje""[61]",Shakira featuring Maluma,"November 18, 2016",2.62

# Question-2
Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/. You need to find following details:
A) Match title (I.e. 1st ODI) B) Series C) Place D) Date E) Time 
Note: - From bcci.tv home page you have reach to the international fixture page through code.

In [43]:
# Opening the url
driver.get('https://www.bcci.tv/')

In [44]:
#navigating to the international fixtures page from homepage through code
international_fixture=driver.find_element_by_xpath("//ul[@class='navigation__list showMoreEnabled']/li[1]/div[2]/div/ul/li[1]/a")
driver.get(international_fixture.get_attribute('href'))

In [45]:
# creating empty lists for scraping data
Match_title=[] 
Series=[]
Place=[] 
Date=[] 
Time=[]

In [46]:
title = driver.find_elements_by_xpath('//strong[@class="fixture__name fixture__name--with-margin"]')
for d in title:
    Match_title.append(d.text)
series = driver.find_elements_by_xpath('//div[@class="fixture__format-strip"]/span[2]')
for d in series:
    Series.append(d.text)
place = driver.find_elements_by_xpath('//p[@class="fixture__additional-info"]/span')
for d in place:
    Place.append(d.text)
date = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/span')
month = driver.find_elements_by_xpath('//div[@class="fixture__datetime desktop-only"]/div/div/span[1]')
for d in range(len(date)):
    Date.append(date[d].text+month[d].text)
time = driver.find_elements_by_xpath('//div[@class="fixture__full-date"]/div/span[2]')
for d in time:
    Time.append(d.text)

In [47]:
# creating the dataframe from the scraped data
import pandas as pd
ICC=pd.DataFrame({})
ICC['Match_title']=Match_title
ICC['Series']=Series
ICC['Place']=Place 
ICC['Date']=Date
ICC['Time']=Time
ICC

,Match_title,Series,Place,Date,Time
0,2nd Test,INDIA V ENGLAND 2021,"M. A. Chidambaram Stadium, Chennai",13FEBRUARY,09:30 IST
1,3rd Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",24FEBRUARY,14:30 IST
2,4th Test,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",04MARCH,09:30 IST
3,1st T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",12MARCH,19:00 IST
4,2nd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",14MARCH,19:00 IST
5,3rd T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",16MARCH,19:00 IST
6,4th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",18MARCH,19:00 IST
7,5th T20I,INDIA V ENGLAND 2021,"Sardar Patel Stadium, Ahmedabad",20MARCH,19:00 IST
8,1st ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",23MARCH,13:30 IST
9,2nd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",26MARCH,13:30 IST
10,3rd ODI,INDIA V ENGLAND 2021,"Maharashtra Cricket Association Stadium, Pune",28MARCH,13:30 IST
11,1st Test,ENGLAND V INDIA 2021,"Trent Bridge, Nottingham",04AUGUST,15:30 IST
12,2nd Test,ENGLAND V INDIA 2021,"Lord's, London",12AUGUST,15:30 IST
13,3rd Test,ENGLAND V INDIA 2021,"Headingley, Leeds",25AUGUST,15:30 IST
14,4th Test,ENGLAND V INDIA 2021,"The Oval, London",02SEPTEMBER,15:30 IST
15,5th Test,ENGLAND V INDIA 2021,"Old Trafford, Manchester",10SEPTEMBER,15:30 IST

# Question-3
Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/ You need to find following details: 
A) Name B) Description 
Note: - From guru99 home page you have to reach to selenium exception handling page through code.

In [49]:
# Opening the url
driver.get(' https://www.guru99.com/ ')

In [50]:
#clicking on the selenium page 
sel=driver.find_element_by_xpath("//div[@class='srch']/span[8]/a")
sel.click()

In [51]:
#clicking on the selenium exception tutorial link
tutorial=driver.find_element_by_xpath("//table[@class='table']/tbody/tr[34]/td/a")
tutorial.click()

In [52]:
# creating empty lists for scraping data
Exception_Name=[]
Description=[]

In [53]:
name = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[1]')
for d in name:
    Exception_Name.append(d.text)
des = driver.find_elements_by_xpath('//table[@class="table table-striped"]/tbody/tr/td[2]')
for d in des:
    Description.append(d.text)

In [54]:
# creating the dataframe from the scraped data
import pandas as pd
Exceptions=pd.DataFrame({})
Exceptions['Exception_Name']=Exception_Name[1:]
Exceptions['Description']=Description[1:]
Exceptions

,Exception_Name,Description
0,ElementNotVisibleException,This type of Selenium exception occurs when an...
1,ElementNotSelectableException,This Selenium exception occurs when an element...
2,NoSuchElementException,This Exception occurs if an element could not ...
3,NoSuchFrameException,This Exception occurs if the frame target to b...
4,NoAlertPresentException,This Exception occurs when you switch to no pr...
5,NoSuchWindowException,This Exception occurs if the window target to ...
6,StaleElementReferenceException,This Selenium exception occurs happens when th...
7,SessionNotFoundException,The WebDriver is acting after you quit the bro...
8,TimeoutException,Thrown when there is not enough time for a com...
9,WebDriverException,This Exception takes place when the WebDriver ...
10,ConnectionClosedException,This type of Exception takes place when there ...
11,ElementClickInterceptedException,The command may not be completed as the elemen...
12,ElementNotInteractableException,This Selenium exception is thrown when any ele...
13,ErrorInResponseException,This happens while interacting with the Firefo...
14,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
15,ImeActivationFailedException,This expectation will occur when IME engine ac...
16,ImeNotAvailableException,It takes place when IME support is unavailable.
17,InsecureCertificateException,Navigation made the user agent to hit a certif...
18,InvalidArgumentException,It occurs when an argument does not belong to ...
19,InvalidCookieDomainException,This happens when you try to add a cookie unde...
20,InvalidCoordinatesException,This type of Exception matches an interacting ...
21,InvalidElementStateExceptio,It occurs when command can't be finished when ...
22,InvalidSessionIdException,This Exception took place when the given sessi...
23,InvalidSwitchToTargetException,This occurs when the frame or window target to...
24,JavascriptException,This issue occurs while executing JavaScript g...
25,JsonException,It occurs when you afford to get the session w...
26,NoSuchAttributeException,This kind of Exception occurs when the attribu...
27,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
28,NoSuchContextException,ContextAware does mobile device testing.
29,NoSuchCookieException,This Exception occurs when no cookie matching ...
30,NotFoundException,This Exception is a subclass of WebDriverExcep...
31,RemoteDriverServerException,This Selenium exception is thrown when the ser...
32,ScreenshotException,It is not possible to capture a screen.
33,SessionNotCreatedException,It happens when a new session could not be suc...
34,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
35,UnexpectedTagNameException,Happens if a support class did not get a web e...
36,UnhandledAlertException,This expectation occurs when there is an alert...
37,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
38,UnknownMethodException,This Exception happens when the requested comm...
39,UnreachableBrowserException,This Exception occurs only when the browser is...
40,UnsupportedCommandException,This occurs when remote WebDriver does n't sen...

# Question-4
Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/ You have to find following details:
A) Rank B) State C) GSDP(18-19) D) GSDP(17-18) E) Share(2017) F) GDP($ billion) 
Note: - From statisticstimes home page you have to reach to economy page through code.

In [56]:
# Opening the url
driver.get(' http://statisticstimes.com/ ')

In [57]:
# clicking on economy and then on India from there
economy=driver.find_element_by_xpath("//div[@class='navbar']/div[2]/div/a[3]")
driver.get(economy.get_attribute('href'))

In [58]:
#clicking on GDP of Indian states 
Indian_states=driver.find_element_by_xpath("//div[@style='float:left;background-color:seashell;width:400px;height:800px;']/ul/li[1]/a")
driver.get(Indian_states.get_attribute('href'))

In [59]:
# creating empty lists for scraping data
Rank=[] 
State=[] 
GSDP_year_2019_to_year_2020=[] 
GSDP_year_2018_to_year_2019=[] 
Share_year_2018_to_2019=[] 
GDP_Dollar_billion_=[]

In [60]:
rank = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[1]')
for d in rank:
    Rank.append(d.text)
state = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[2]')
for d in state:
    State.append(d.text)
gdsp_19_20 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[3]')
for d in gdsp_19_20:
    GSDP_year_2019_to_year_2020.append(d.text)
gdsp_18_19 = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[4]')
for d in gdsp_18_19:
    GSDP_year_2018_to_year_2019.append(d.text)
share = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[5]')
for d in share:
    Share_year_2018_to_2019.append(d.text)
gdp_dollar = driver.find_elements_by_xpath('//table[@id="table_id"]/tbody/tr/td[6]')
for d in gdp_dollar:
    GDP_Dollar_billion_.append(d.text)

In [61]:
# creating the dataframe from the scraped data
import pandas as pd
GDP=pd.DataFrame({})
GDP['Rank']=Rank 
GDP['State']=State
GDP['GSDP_year_2019_to_year_2020']=GSDP_year_2019_to_year_2020 
GDP['GSDP_year_2018_to_year_2019']=GSDP_year_2018_to_year_2019 
GDP['Share_year_2018_to_2019']=Share_year_2018_to_2019 
GDP['GDP_Dollar_billion_']=GDP_Dollar_billion_
GDP

,Rank,State,GSDP_year_2019_to_year_2020,GSDP_year_2018_to_year_2019,Share_year_2018_to_2019,GDP_Dollar_billion_
0,1,Maharashtra,-,"2,632,792",13.88%,398.145
1,2,Uttar Pradesh,"1,794,508","1,668,229",8.79%,252.278
2,3,Tamil Nadu,"1,845,853","1,630,208",8.59%,246.529
3,4,Karnataka,"1,699,115","1,544,399",8.14%,233.552
4,5,Gujarat,-,"1,502,899",7.92%,227.276
5,6,West Bengal,"1,253,832","1,089,898",5.75%,164.820
6,7,Rajasthan,"1,020,989","942,586",4.97%,142.543
7,8,Andhra Pradesh,"972,782","862,957",4.55%,130.501
8,9,Telangana,"969,604","861,031",4.54%,130.210
9,10,Madhya Pradesh,"906,672","809,592",4.27%,122.431
10,11,Kerala,-,"781,653",4.12%,118.206
11,12,Delhi,"856,112","774,870",4.08%,117.180
12,13,Haryana,"831,610","734,163",3.87%,111.024
13,14,Bihar,"611,804","530,363",2.80%,80.204
14,15,Punjab,"574,760","526,376",2.77%,79.601
15,16,Odisha,"531,374","492,229",2.59%,74.437
16,17,Assam,-,"315,881",1.67%,47.769
17,18,Chhattisgarh,"329,180","304,063",1.60%,45.982
18,19,Jharkhand,"328,598","297,204",1.57%,44.945
19,20,Uttarakhand,-,"245,895",1.30%,37.186
20,21,Jammu & Kashmir,-,"155,956",0.82%,23.584
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.265
22,23,Goa,-,"73,170",0.39%,11.065
23,24,Tripura,"55,358","49,845",0.26%,7.538
24,25,Chandigarh,-,"42,114",0.22%,6.369
25,26,Puducherry,"40,802","36,656",0.19%,5.543
26,27,Meghalaya,"36,572","33,481",0.18%,5.063
27,28,Sikkim,"32,496","28,723",0.15%,4.344
28,29,Manipur,-,"27,869",0.15%,4.214
29,30,Nagaland,-,"27,283",0.14%,4.126
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.721
31,32,Mizoram,-,"19,520",0.10%,2.952
32,33,Andaman & Nicobar Islands,-,-,-,-

# Question-5
Scrape the details of trending repositories on Github.com. Url = https://github.com/ You have to find the following details: 
A) Repository title B) Repository description C) Contributors count D) Language used 
 
Note: - From the home page you have to click on the trending option from Explore menu through code.

In [22]:
# Opening the url
driver.get('https://github.com/')

In [23]:
#clicking on the trending option through explore option
trending=driver.find_element_by_xpath("//ul[@class='list-style-none mb-3']/li[3]/a")
driver.get(trending.get_attribute('href'))

In [24]:
# creating empty lists for scraping data
Repository_title=[]
Repository_description=[] 
Contributors_count=[] 
Language_used=[]

In [25]:
title = driver.find_elements_by_xpath('//h1[@class="h3 lh-condensed"]')
for d in title:
    Repository_title.append(d.text)

In [26]:
Repository_title

['libsdl-org / SDL',
 'Azure / azure-quickstart-templates',
 'system76 / launch',
 'benbjohnson / litestream',
 'mbround18 / valheim-docker',
 'deepmind / deepmind-research',
 'satwikkansal / wtfpython',
 'vlang / v',
 'serhii-londar / open-source-mac-os-apps',
 'PowerShell / PowerShell',
 'ossu / computer-science',
 'iptv-org / iptv',
 'streamich / react-use',
 'Azure / azure-rest-api-specs',
 'adityatelange / hugo-PaperMod',
 'reactend / reactend-express',
 'flybywiresim / a32nx',
 'Dimbreath / GenshinData',
 'hashicorp / vault',
 'abhishekkrthakur / colabcode',
 'florisboard / florisboard',
 'goreleaser / goreleaser',
 'donnemartin / system-design-primer',
 'dotnet / aspnetcore',
 'reed-hong / awesome-libra']

In [27]:
des = driver.find_elements_by_xpath('//p[@class="col-9 text-gray my-1 pr-4"]')
for d in des:
    Repository_description.append(d.text)

In [28]:
Repository_description

['Simple Directmedia Layer',
 'Azure Quickstart Templates',
 'System76 Launch Configurable Keyboard',
 'Streaming S3 replication for SQLite.',
 'Valheim Docker server with Odin the CLI tool.',
 'This repository contains implementations and illustrative code to accompany DeepMind publications',
 'What the f*ck Python? 😱',
 'Simple, fast, safe, compiled language for developing maintainable software. Compiles itself in <1s with zero library dependencies. https://vlang.io',
 '🚀 Awesome list of open source applications for macOS. https://t.me/opensourcemacosapps',
 'PowerShell for every system!',
 '🎓 Path to a free self-taught education in Computer Science!',
 'Collection of 5000+ publicly available IPTV channels from all over the world',
 'React Hooks — 👍',
 'The source for REST API specifications for Microsoft Azure.',
 'A fast, clean, responsive Hugo theme',
 'React renderer to build Node.js server',
 'The A32NX Project is a community driven open source project to create a free Airbus A320neo in Microsoft Flight Simulator that is as close to reality as possible. It aims to enhance the default A320neo by improving the systems depth and functionality to bring it up to payware-level, all for free.',
 'Repository containing the game data for the game Genshin Impact.',
 'A tool for secrets management, encryption as a service, and privileged access management',
 'Run VSCode (codeserver) on Google Colab or Kaggle Notebooks',
 'An open-source keyboard for Android. Currently in alpha/early-beta stage.',
 'Deliver Go binaries as fast and easily as possible',
 'Learn how to design large-scale systems. Prep for the system design interview. Includes Anki flashcards.',
 'ASP.NET Core is a cross-platform .NET framework for building modern cloud-based web applications on Windows, Mac, or Linux.',
 'A Curated List of Awesome Facebook Libra Resources']

In [29]:
lan = driver.find_elements_by_xpath('//span[@class="d-inline-block ml-0 mr-3"]/span[2]')
for d in lan:
    
    try:
        Language_used.append(d.text)
        
    except NoSuchElementException :
        
        Language_used.append("---")

In [30]:
Language_used

['C',
 'PowerShell',
 'Shell',
 'Go',
 'Rust',
 'Jupyter Notebook',
 'Python',
 'V',
 'Swift',
 'C#',
 'JavaScript',
 'TypeScript',
 'TypeScript',
 'HTML',
 'JavaScript',
 'JavaScript',
 'Go',
 'Python',
 'Kotlin',
 'Go',
 'Python',
 'C#']

In [31]:
URLS=[]
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']/a"):
    URLS.append(i.get_attribute("href"))

for URL in URLS:
    
    try:
        driver.get(URL)
        count=driver.find_element_by_xpath("//div[@class='BorderGrid-cell']/h2/a/span").text
        Contributors_count.append(count)
    except NoSuchElementException :
        Contributors_count.append("---")

In [32]:
Contributors_count

['21',
 '3',
 '',
 '12',
 '1',
 '',
 '2',
 '41',
 '211',
 '102',
 '',
 '84',
 '248',
 '',
 '4',
 '1',
 '20',
 '---',
 '137',
 '',
 '18',
 '420',
 '',
 '137',
 '']

In [33]:
print(len(Repository_title),len(Repository_description),len(Contributors_count),len(Language_used))

25 25 25 22

In [34]:
# creating the dataframe from the scraped data
import pandas as pd
Repositories=pd.DataFrame({})
Repositories['Repository_title']=Repository_title[0:22]
Repositories['Repository_description']=Repository_description[0:22] 
Repositories['Contributors_count']=Contributors_count[0:22] 
Repositories['Language_used']=Language_used[0:22] 
Repositories

,Repository_title,Repository_description,Contributors_count,Language_used
0,libsdl-org / SDL,Simple Directmedia Layer,21,C
1,Azure / azure-quickstart-templates,Azure Quickstart Templates,3,PowerShell
2,system76 / launch,System76 Launch Configurable Keyboard,,Shell
3,benbjohnson / litestream,Streaming S3 replication for SQLite.,12,Go
4,mbround18 / valheim-docker,Valheim Docker server with Odin the CLI tool.,1,Rust
5,deepmind / deepmind-research,This repository contains implementations and i...,,Jupyter Notebook
6,satwikkansal / wtfpython,What the f*ck Python? 😱,2,Python
7,vlang / v,"Simple, fast, safe, compiled language for deve...",41,V
8,serhii-londar / open-source-mac-os-apps,🚀 Awesome list of open source applications for...,211,Swift
9,PowerShell / PowerShell,PowerShell for every system!,102,C#
10,ossu / computer-science,🎓 Path to a free self-taught education in Comp...,,JavaScript
11,iptv-org / iptv,Collection of 5000+ publicly available IPTV ch...,84,TypeScript
12,streamich / react-use,React Hooks — 👍,248,TypeScript
13,Azure / azure-rest-api-specs,The source for REST API specifications for Mic...,,HTML
14,adityatelange / hugo-PaperMod,"A fast, clean, responsive Hugo theme",4,JavaScript
15,reactend / reactend-express,React renderer to build Node.js server,1,JavaScript
16,flybywiresim / a32nx,The A32NX Project is a community driven open s...,20,Go
17,Dimbreath / GenshinData,Repository containing the game data for the ga...,---,Python
18,hashicorp / vault,"A tool for secrets management, encryption as a...",137,Kotlin
19,abhishekkrthakur / colabcode,Run VSCode (codeserver) on Google Colab or Kag...,,Go
20,florisboard / florisboard,An open-source keyboard for Android. Currently...,18,Python
21,goreleaser / goreleaser,Deliver Go binaries as fast and easily as poss...,420,C#

# Question-6
Scrape the details of top 100 songs on billiboard.com. Url = https://www.billiboard.com/ You have to find the following details: 
A) Song name B) Artist name C) Last week rank D) Peak rank E) Weeks on board 
Note: - From the home page you have to click on the charts option then hot 100-page link through code.

In [62]:
# Opening the url
driver.get('https://www.billboard.com/')

In [63]:
#clicking on the hot100 option on homepage
top100=driver.find_element_by_xpath("//nav[@class='header__subnav bg--light']/ul/li[3]/a")
top100.click()

In [64]:
# creating empty lists for scraping data
Song_name=[]
Artist_name=[] 
Last_week_rank=[] 
Peak_rank=[]
Weeks_on_board=[]

In [65]:
song = driver.find_elements_by_xpath('//span[@class="chart-element__information__song text--truncate color--primary"]')
for d in song:
    Song_name.append(d.text)
artist = driver.find_elements_by_xpath('//span[@class="chart-element__information__artist text--truncate color--secondary"]')
for d in artist:
    Artist_name.append(d.text)
lastweek = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--last"]')
for d in lastweek:
    Last_week_rank.append(d.text)
peak = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--peak"]')
for d in peak:
    Peak_rank.append(d.text)
weeks = driver.find_elements_by_xpath('//div[@class="chart-element__meta text--center color--secondary text--week"]')
for d in weeks:
    Weeks_on_board.append(d.text)

In [66]:
# creating the dataframe from the scraped data
import pandas as pd
TOP100SONGS=pd.DataFrame({})
TOP100SONGS['Song_name']=Song_name
TOP100SONGS['Artist_name']=Artist_name
TOP100SONGS['Last_week_rank']=Last_week_rank
TOP100SONGS['Peak_rank']=Peak_rank
TOP100SONGS['Weeks_on_board']= Weeks_on_board
TOP100SONGS

,Song_name,Artist_name,Last_week_rank,Peak_rank,Weeks_on_board
0,Drivers License,Olivia Rodrigo,1,1,4
1,Mood,24kGoldn Featuring iann dior,2,1,26
2,Blinding Lights,The Weeknd,3,1,61
3,34+35,Ariana Grande,4,2,14
4,Levitating,Dua Lipa Featuring DaBaby,5,5,18
...,...,...,...,...,...
95,Fake Woke,Tom MacDonald,-,96,1
96,Prisoner,Miley Cyrus Featuring Dua Lipa,81,54,11
97,Dangerous,Morgan Wallen,-,62,3
98,Almost Maybes,Jordan Davis,-,95,2
99,Mr. Right Now,21 Savage & Metro Boomin Featuring Drake,80,10,18

# Question-7
Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/ You have to find the following details: 
A) Name B) Designation C) Company D) Skills they hire for E) Location 
Note: - From naukri.com homepage click on the recruiters option and the on the search pane type Data science and click on search. All this should be done through code

In [67]:
# Opening the url
driver.get('https://www.naukri.com/')

In [68]:
#clciking on the recruiter option on homepage
recruiter=driver.find_element_by_xpath("//ul[@class='midSec menu']/li[2]/a")
driver.get(recruiter.get_attribute('href'))

In [69]:
#Giving/Typing Data Science as key/input in the search bar
search_field_designation=driver.find_element_by_xpath("//input[@class='sugInp']")
search_field_designation.send_keys("Data Science")

In [70]:
#clicking on search button
search_button=driver.find_element_by_xpath("//button[@class='fl qsbSrch blueBtn']")
search_button.click()

In [71]:
# creating empty lists for scraping data
Name=[]
Designation=[] 
Company=[] 
Skills_Required=[] 
Location=[]

In [72]:
name = driver.find_elements_by_xpath('//span[@class="fl ellipsis"]')
for d in name:
    Name.append(d.text)
des = driver.find_elements_by_xpath('//span[@class="ellipsis clr"]')
for d in des:
    Designation.append(d.text)
loc = driver.find_elements_by_xpath('//p[@class="highlightable"]/span[2]')
for d in loc:
    
    try:
        Location.append(d.text)
        
    except NoSuchElementException:
        
        Location.append("---")

In [73]:
com = driver.find_elements_by_xpath('//p[@class="highlightable"]/a[2]')
for d in com:
    Company.append(d.text)
skill = driver.find_elements_by_xpath('//div[@class="hireSec highlightable"]')
for d in skill:
    Skills_Required.append(d.text)

In [74]:
print(len(Name),len(Designation),len(Company),len(Skills_Required),len(Location))

50 50 50 50 48

In [75]:
# creating the dataframe from the scraped data
import pandas as pd
Recruiter=pd.DataFrame({})
Recruiter['Name']=Name[0:48]
Recruiter['Designation']=Designation[0:48]
Recruiter['Company']=Company[0:48]
Recruiter['Skills_Required']= Skills_Required[0:48]
Recruiter['Location']=Location[0:48]
Recruiter

,Name,Designation,Company,Skills_Required,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketing Prof...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Administration...",Hyderabad / Secunderabad
2,Talent Acquisition Executive,Recruitment Professional,XenonStack,"Web Designing, html5, Angular.js, seo, hadoop,...",Chandigarh
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, mongodb, We...",Ahmedabad
4,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, Machine...",Pune
5,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Data Architec...",UK - (london)
6,Jitendra Singh,Manager- Talent Acquisition,Compunnel Technology India Pvt. Ltd,"Python, Data Science, .Net, Java, Big Data, Da...",Delhi
7,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Business Ana...",Vadodara / Baroda
8,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
9,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Getter, Compu...",Trivandrum
10,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development, Pres...",Indore
11,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Account Manage...",Bengaluru / Bangalore
12,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Architect, C++...",Hyderabad / Secunderabad
13,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing, Data ...",Bengaluru / Bangalore
14,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration, tele...",Mumbai
15,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marketing, Re...",Navi Mumbai
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Data Science",Bhopal
17,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
18,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, seo, smm...",Hyderabad / Secunderabad
19,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, Softwar...",Delhi
20,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine Learning...",Hyderabad / Secunderabad
21,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python, R, Dee...",Pune
22,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, Machine...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Intelligenc...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastructure, Mana...",Pune
25,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, Product...",Bengaluru / Bangalore
26,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, Python, Aw...",Bengaluru / Bangalore
27,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, Neural Ne...",Delhi
28,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, Software...",Mysoru / Mysore
29,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team Leading...",Noida
30,Prateek Kumar,Head,Trisect,"Java, Python, Angularjs, Software Testing, Mac...",Hyderabad / Secunderabad
31,SREEDHAR,Recruitment Consultant,JOBSMILL BUSINESS SOLUTIONS PRIVATE LIMITED,"Data Science, Machine Learning, Big Data Analy...",New Delhi
32,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligence, Dat...",Chennai
33,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Python, Php, ...",Aligarh
34,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, Private...",Salt Lake City
35,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
36,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digital Mark...",Bengaluru / Bangalore
37,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai
38,Ankit Sinha,Head Analytics,Suntech Global,"B.Tech, Tableau, Statistics, R, Analytics, Tim...",Indore
39,Gaurav Chouhan,Chief Technical Officer,Strategic Consulting Lab,"Software Development, Business Intelligence, B...",Bengaluru / Bangalore
40,Rashi Kacker,Sr Product Manager,Impel Labs Pvt. Ltd.,"Data Science, Node.js, Angularjs",MYSORE
41,Ashwini,Director Global Delivery,MRP Advisers,"Data Science, Media Marketing, Resource Planni...",Hyderabad / Secunderabad
42,Balaji Kolli,Co Founder,Saras Solutions India Pvt Ltd,"Data Analysis, Learning, Data Science, Compute...",Bengaluru / Bangalore
43,Rajani Nagaraj,HR Manager,WildJasmine,"Java, Hadoop, R, Machine Learning, Spark, Flum...",Mumbai
44,ROHIT Kumar,Architect,LNT Private Limited,"Software Development, Core Java, Unit Testing,...",Noida
45,Amir Chowdhury,Managing Partner,Granular.ai,"Machine Learning, Data Science, Product Manage...",Mumbai
46,Shailja Mishra,HR Manager,Certybox Pvt.Ltd.,"consulting, Education Counseling, Educational ...",Bengaluru / Bangalore
47,Sunny Sharma,Managing Director - HR,Western Service Providers,"Software Professionals, Engineering, Technical...",Chennai

# Question-8
Scrape the details of Highest selling novels. Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/ You have to find the following details: 
A) Book name B) Author name C) Volumes sold D) Publisher E) Genre

In [77]:
# Opening the url
driver.get('https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare')

In [78]:
# creating empty lists for scraping data
Book_name=[] 
Author_name=[] 
Volumes_sold=[]
Publisher=[] 
Genre=[]

In [79]:
book = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[2]')
for d in book:
    Book_name.append(d.text)
author = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[3]')
for d in author:
    Author_name.append(d.text)
vol = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[4]')
for d in vol:
    Volumes_sold.append(d.text)
pub = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[5]')
for d in pub:
    Publisher.append(d.text)
gen = driver.find_elements_by_xpath('//table[@class="in-article sortable"]/tbody/tr/td[6]')
for d in gen:
    Genre.append(d.text)

In [80]:
# creating the dataframe from the scraped data
import pandas as pd
BOOKS=pd.DataFrame({})
BOOKS['Book_name']=Book_name
BOOKS['Author_name']= Author_name
BOOKS['Volumes_sold']=Volumes_sold
BOOKS['Publisher']=Publisher
BOOKS['Genre']=Genre
BOOKS

,Book_name,Author_name,Volumes_sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

# Question-9
Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/ You have to find the following details: 
A) Name B) Year span C) Genre D) Run time E) Ratings F) Votes

In [82]:
# Opening the url
driver.get('https://www.imdb.com/list/ls095964455/')

In [83]:
# creating empty lists for scraping data
Name=[]
Year_span=[] 
Genre=[] 
Run_time=[] 
Ratings=[] 
Votes=[]

In [84]:
name = driver.find_elements_by_xpath('//h3[@class="lister-item-header"]/a')
for d in name:
    Name.append(d.text)
year = driver.find_elements_by_xpath('//span[@class="lister-item-year text-muted unbold"]')
for d in year:
    Year_span.append(d.text)
gen = driver.find_elements_by_xpath('//span[@class="genre"]')
for d in gen:
    Genre.append(d.text)
runtime = driver.find_elements_by_xpath('//span[@class="runtime"]')
for d in runtime:
    Run_time.append(d.text)
ratings = driver.find_elements_by_xpath('//div[@class="ipl-rating-star small"]')
for d in ratings:
    Ratings.append(d.text)
vote = driver.find_elements_by_xpath('//span[@name="nv"]')
for d in vote:
    Votes.append(d.text)

In [85]:
# creating the dataframe from the scraped data
import pandas as pd
Top_series=pd.DataFrame({})
Top_series['Name']=Name
Top_series['Year_span']= Year_span
Top_series['Genre']=Genre
Top_series['Run_time']= Run_time
Top_series['Ratings']=Ratings
Top_series['Votes']=Votes
Top_series

,Name,Year_span,Genre,Run_time,Ratings,Votes
0,Game of Thrones,(2011–2019),"Action, Adventure, Drama",57 min,9.3,"1,769,722"
1,Stranger Things,(2016– ),"Drama, Fantasy, Horror",51 min,8.7,"822,033"
2,The Walking Dead,(2010– ),"Drama, Horror, Thriller",44 min,8.2,"853,274"
3,13 Reasons Why,(2017–2020),"Drama, Mystery, Thriller",60 min,7.6,"256,163"
4,The 100,(2014–2020),"Drama, Mystery, Sci-Fi",43 min,7.6,"216,418"
...,...,...,...,...,...,...
95,Reign,(2013–2017),"Drama, Fantasy",42 min,7.5,"43,586"
96,A Series of Unfortunate Events,(2017–2019),"Adventure, Comedy, Drama",50 min,7.8,"53,864"
97,Criminal Minds,(2005–2020),"Crime, Drama, Mystery",42 min,8.1,"161,180"
98,Scream: The TV Series,(2015–2019),"Crime, Drama, Horror",45 min,7.2,"34,091"
99,The Haunting of Hill House,(2018),"Drama, Horror, Mystery",572 min,8.6,"182,332"

# Question-10
Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/ You have to find the following details: 
A) Dataset name B) Data type C) Task D) Attribute type E) No of instances F) No of attribute G) Year 
Note: - from the home page you have to go to the ShowAllDataset page through code.

In [87]:
# Opening the url
driver.get('https://archive.ics.uci.edu/ ')

In [88]:
#clicking on "view all" dataset option to get all dataset
dataset=driver.find_element_by_xpath("//span[@class='normal']/b/a")
driver.get(dataset.get_attribute('href'))

In [89]:
# creating empty lists for scraping data
Dataset_name=[] 
Data_type=[]
Task=[] 
Attribute_type=[] 
No_of_instances=[] 
No_of_attribute=[] 
Year=[]

In [90]:
name = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td/table/tbody/tr/td[2]/p/b/a')
for d in name:
    Dataset_name.append(d.text)
name1 = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td/table/tbody/tr/td[2]/p/b/a')
for d in name1:
    Dataset_name.append(d.text)
datatype = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[2]/p')
for d in datatype:
    Data_type.append(d.text)
task = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[3]/p')
for d in task:
    Task.append(d.text)
att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[4]/p')
for d in att:
    Attribute_type.append(d.text)
ins = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[5]/p')
for d in ins:
    No_of_instances.append(d.text)
no_of_att = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[6]/p')
for d in no_of_att:
    No_of_attribute.append(d.text)
year = driver.find_elements_by_xpath('//table[@border="1"]/tbody/tr[2]/td[7]/p')
for d in year:
    Year.append(d.text)
datatype = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[2]/p')
for d in datatype:
    Data_type.append(d.text)
tsk = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[3]/p')
for d in tsk:
    Task.append(d.text)
attr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[4]/p')
for d in attr:
    Attribute_type.append(d.text)
noi = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[5]/p')
for d in noi:
    No_of_instances.append(d.text)
noa = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[6]/p')
for d in noa:
    No_of_attribute.append(d.text)
yr = driver.find_elements_by_xpath('//tr[@bgcolor="DDEEFF"]/td[7]/p')
for d in yr:
    Year.append(d.text)

In [91]:
print(len(Dataset_name),len(Data_type),len(Task),len(Attribute_type),len(No_of_instances),len(No_of_attribute),len(Year))

280 280 280 280 280 280 280

In [92]:
# creating the dataframe from the scraped data
import pandas as pd
Datasets=pd.DataFrame({})
Datasets['Dataset_name']=Dataset_name 
Datasets['Data_type']=Data_type
Datasets['Task']=Task
Datasets['Attribute_type']=Attribute_type
Datasets['No_of_instances']=No_of_instances
Datasets['No_of_attribute']= No_of_attribute
Datasets['Year']=Year
Datasets

,Dataset_name,Data_type,Task,Attribute_type,No_of_instances,No_of_attribute,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
3,Artificial Characters,Multivariate,Classification,"Categorical, Integer, Real",6000,7,1992
4,Audiology (Standardized),Multivariate,Classification,Categorical,226,69,1992
...,...,...,...,...,...,...,...
275,Shoulder Implant X-Ray Manufacturer Classifica...,Multivariate,Classification,Real,597,1,2020
276,HCV data,Multivariate,"Classification, Clustering","Integer, Real",615,14,2020
277,South German Credit (UPDATE),Multivariate,"Classification, Regression, Clustering","Integer, Real",1000,21,2020
278,Guitar Chords finger positions,Text,Classification,,2633,5,2020
279,Codon usage,Multivariate,"Classification, Clustering",,13028,69,2020