
Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data. This task will be done in following steps: 

1. first get the webpage https://www.naukri.com/ 
2. Enter “Data Analyst” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [1]:
#importing all the required libraries
import selenium
import pandas as pd
from selenium import webdriver

In [15]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [16]:
url="https://www.naukri.com/"

In [17]:
driver.get(url)

In [18]:
search_field_designation=driver.find_element_by_id("qsb-keyword-sugg")
search_field_location=driver.find_element_by_id("qsb-location-sugg")
search_field_designation.send_keys("Data Analyst")
search_field_location.send_keys("Bangalore")

In [19]:
search_button=driver.find_element_by_xpath("//div[@class='search-btn']/button")
search_button.click()

In [20]:
# creating empty lists for scraping data
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [23]:
#scraping the job-titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title:
    titles=i.text
    Job_Title.append(titles)
Job_Title

['Data Scientist/Data Analyst-immediate',
 'Data Analyst',
 'Data Analyst',
 'ID&A - Data Analyst - Informatica MDM',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst - O2C - Bangalore',
 'Business Data Analyst - Database Design/Mining',
 'Data Analyst - MySQL/PostgreSQL',
 'Hiring For Data Analyst On Contractual Role',
 'Data Analyst (Telcom domain)',
 'Data Analyst',
 'Hiring For Data Analyst (On Contractual Role)',
 'SENIOR DATA ANALYST',
 'Data Analyst',
 'Data Analyst / Scientist',
 'Data Analyst',
 'Data Analyst',
 'IDQ - Informatica Data quality + SQL - Data Analyst']

In [24]:
#scraping the job-location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

for i in loc:
    loca=i.text
    Job_Location.append(loca)
Job_Location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru, Kolkata',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru(2nd Phase JP Nagar)',
 'Bengaluru / Bangalore']

In [25]:
#scraping the company-name
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in comp:
    c=i.text
    Company_Name.append(c)
Company_Name

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'Applied Materials',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'GlaxoSmithKline Pharmaceuticals Limited',
 'Cognizant Technology Solutions India Pvt Ltd',
 'Shell India Markets Private Limited',
 'RANDSTAD INDIA PVT LTD',
 'AugmatrixGo',
 'Astegic',
 'Flipkart Internet Private Limited',
 'Oracle India Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Flipkart Internet Private Limited',
 'McAfee Software (India) Pvt. Ltd',
 'Snaphunt',
 'Blisaura Events Studio Pvt Ltd',
 'reach52',
 'Liventus, Inc.',
 'Encora']

In [26]:
#scraping the experience required
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

for i in exp:
    e=i.text
    Experience_Required.append(e)
Experience_Required

['0-3 Yrs',
 '6-11 Yrs',
 '2-3 Yrs',
 '6-9 Yrs',
 '2-7 Yrs',
 '3-4 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '2-5 Yrs',
 '5-10 Yrs',
 '1-3 Yrs',
 '5-10 Yrs',
 '5-8 Yrs',
 '2-4 Yrs',
 '4-7 Yrs',
 '3-5 Yrs',
 '2-5 Yrs',
 '4-6 Yrs',
 '3-6 Yrs',
 '4-9 Yrs']

In [27]:
#creating a dataframe
import pandas as pd
Data_Analyst=pd.DataFrame({})
Data_Analyst['JOB_TITLE']=Job_Title[0:10]
Data_Analyst['JOB_LOCATION']=Job_Location[0:10]
Data_Analyst['COMPANY_NAME']=Company_Name[0:10]
Data_Analyst['EXPERIENCE_REQUIRED']=Experience_Required[0:10]
Data_Analyst

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,0-3 Yrs
1,Data Analyst,Bengaluru,Applied Materials,6-11 Yrs
2,Data Analyst,"Mumbai, Bengaluru, Hyderabad",Cognizant Technology Solutions India Pvt Ltd,2-3 Yrs
3,ID&A - Data Analyst - Informatica MDM,Bengaluru,Shell India Markets Private Limited,6-9 Yrs
4,Data Analyst,Bengaluru,GlaxoSmithKline Pharmaceuticals Limited,2-7 Yrs
5,Data Analyst,"Bengaluru, Kolkata",Cognizant Technology Solutions India Pvt Ltd,3-4 Yrs
6,Data Analyst,Bengaluru,Shell India Markets Private Limited,5-8 Yrs
7,Data Analyst - O2C - Bangalore,Bengaluru,RANDSTAD INDIA PVT LTD,2-4 Yrs
8,Business Data Analyst - Database Design/Mining,Bengaluru,AugmatrixGo,2-5 Yrs
9,Data Analyst - MySQL/PostgreSQL,"Pune, Mumbai, Bengaluru, Hyderabad, Noida, Jaipur",Astegic,5-10 Yrs


Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, full job-description. You have to scrape first 10 jobs data. This task will be done in following steps: 
            
1. first get the webpage https://www.naukri.com/ 
2. Enter “Data Scientist” in “Skill,Designations,Companies” field and enter “Bangalore” in “enter the location” field. 
3. Then click the search button. 
4. Then scrape the data for the first 10 jobs results you get. 
5. Finally create a dataframe of the scraped data.

In [2]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [3]:
url="https://www.naukri.com/data-scientist-jobs-in-bangalore?k=data%20scientist&l=bangalore"

In [4]:
driver.get(url)

In [5]:
# creating empty lists for scraping data
Job_Title=[]
Job_Location=[]
Company_Name=[]
Job_Description=[]

In [6]:
#scraping the job-titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title:
    titles=i.text
    Job_Title.append(titles)
Job_Title

['Data Scientist/Data Analyst-immediate',
 'HCL hiring Data scientist with exp in machine learning &SQL-Bangalore!',
 'Data Scientist -Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning',
 'Data Scientist - Machine Learning - Remote Working',
 'Lead Data Scientist - Complete Remote Work',
 'Data Scientist (Healthcare/Pharma Domain preferred)',
 'Data Scientist',
 'AI Resident - Data Scientist',
 'Tech Mahindra hiring For Data Scientist- Bangalore',
 'Senior Data Scientist',
 'Lead Data Scientist',
 'Data Scientist',
 'Lead Data Scientist - Bangalore /Banking & Financial Domain is must',
 'Data Scientist (machine Learning /AI)',
 'Sr. Data Scientist',
 'Sr Data Scientist - Python | Talent500',
 'Sr . Data Scientist']

In [7]:
#scraping the job-location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

for i in loc:
    loca=i.text
    Job_Location.append(loca)
Job_Location

['Chennai, Pune, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Bengaluru, Anywhere in India',
 'Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Mumbai, Bengaluru',
 'Chennai, Mumbai, Bengaluru, Hyderabad',
 'Bengaluru',
 'Bengaluru',
 'Delhi NCR, Mumbai, Bengaluru',
 'Bengaluru',
 'Bengaluru',
 'Bengaluru']

In [8]:
#scraping the company name
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in comp:
    c=i.text
    Company_Name.append(c)
Company_Name

['CAIA-Center For Artificial Intelligence & Advanced Analytics',
 'HCL Technologies Limited',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'AugmatrixGo',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'BLUE YONDER INDIA PRIVATE LIMITED',
 'Doji Ltd',
 'Techolution India Private Limited',
 'GENPACT India Private Limited',
 '24/7 Customer',
 'Shell India Markets Private Limited',
 'tech mahindra ltd',
 'UpGrad',
 'Leading Data Science Firm',
 'Applied Materials',
 'Societe Generale',
 'Mastermind Network',
 'Blackhawk Network',
 'ANSR GLOBAL CORPORATION PRIVATE LIMITED',
 'Bidgely Technologies Private Limited']

In [9]:
#scraping the job-description
from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']"):
    urls.append(i.get_attribute("href"))

for url in urls[0:10]:
    
    try:
        driver.get(url)
        description=driver.find_element_by_xpath("//section[@class='job-desc']").text
        Job_Description.append(description)
    except NoSuchElementException :
        Job_Description.append("---")

In [10]:
Job_Description

['Job description\nDear Candidate\n\nSchedule a Telephonic Interview ( Please call for confirmation) : Mon- Sat from 11:00am to 5:00pm\n\nOR Walk-In to the Corporate office between Monday to Friday from 11:00am to 5:00pm\nContact person :\n\nManigandan -+91 7299917200\nShantha +91 9790993237\n\n\nSystech Solutions\nTemple Steps\nTower 3, 6th Floor\n184-187 Anna Salai\nSaidapet, Chennai 600015\nIndia (Near Little Mount Metro Station)\nRoles and Responsibilities\n\nGreetings from CAIA !\nA great opportunity to enter the world of future technologies - Data Science, Analytics, AI, Data Visualization\nApplications invited from all Freshers and experienced candidates aspiring to make a career in Artificial Intelligence and Advanced Analytics and Data Science.\nIn case you are trying to shift your career to Analytics and/or AI domain please do connect with us to know more.\nWhat is needed from you?\n- An Educational background in any one of the following- BE/B.Tech, ME/M Tech, MSc, BSc/MSc Maths and Statistics, B Com, BCA, BSc CS, BSC IT, MSC IT, MCA\n- Skills relating to Mathematics/Statistics.\n- Natural passion towards numbers, business, coding, Analytics and Artificial Intelligence, Machine Learning, visualization\n- Good verbal and written communication skills\n- Ability to understand domains in businesses across various sectors\n- Freshers who wish to start their career in Analytics and AI and professionals who wish to up skill or change their domain to analytics and emerging technologies are free to apply.\nSelection procedure includes\n- Online Aptitude Test\n- Logical Ability Test / Written Test\nOn being shortlisted, you will be have to undergo a one-one discussion with our counsellor for further evaluation and processing of your Resume.\nWhat you can expect from us?\nYou will get trained on the following modules for a period of 12-14 weeks:\n-SQL & PLSQL\n-Data Wrangling using Python\n-Statistics for Machine Learning,\n-Artificial Intelligence, Data Interpretation\n-Supervised & Unsupervised Learning,\n-NLP & Deep Learning\n-Cloud Data Lake\n-Business intelligence & Data Visualization\n-Simulation Projects\nWhat is the expected Outcome?\nAt the end of the Training you are expected to be well versed with the following:\n- Analysis of large and complex data sets from multiple sources\n- Development and evaluation of data analytics models, algorithms and solutions\n- Understanding/implementation of ML algorithms, performance tuning and reporting\n- Implementation of algorithms to mine targeted data and the ability to convert data into a business story\n- Translation of business requirements into technical requirements; Data extraction, preparation and transformation\n- Identification, development and implementation of statistical techniques and algorithms that address business challenges and adds value to the organisation\n- Requirement Analysis and communication of findings in the form of a meaningful story with the stakeholders\nCenter for Artificial Intelligence & Advanced Analytics (CAIA) focuses on the following:\n1. Global Research on emerging trends, technologies and applications in AI and Advanced Analytics\n2. Advanced Training programs for readying the future ready workforce\n3. Solutions to herald the futuristic lifestyle and workspaces in the field of AI and Data Science.\nhttp://www.centerforaia.com/\nCenter for Artificial Intelligence and Advanced Analytics (Center for AIA) is the brainchild of experienced and visionary alumni of IIT Madras and Bombay. Digital leaders 5F World and Systech Solutions have joined hands to create a venture for architecting the future of society, workforce, governments and businesses. 5F World specializes in designing solutions around digital platforms and Systech Solutions has an expertise in architecting Artificial Intelligence and Advanced Analytics solutions for Fortune 500 companies through specialized programmed.\n5F World\n5F World is a leader in digital transformational journeys and has brought together the best minds in industry, academia and technology domains to develop a unique framework to transform stakeholder journeys through innovation and digitalization of businesses and education institutions.\nSystech Solutions\nSystech Solutions is a leading organisation in Data Strategy, Management & Analytics services provider with deep technology expertise and over 20 years of industry experience. Systech Solutions helps empower clients with innovative, data-driven solutions to reimagine their enterprise and has forged partnerships with industry-leading technology providers to develop a full spectrum of data services.\n\nWebsite\nhttp://www.centerforaia.com/\n\nhttps://inflexion-analytix-private-limited.business.site/?m=true\n\n\n\nContact Person\nShantha/Manigandan\nPhone Number\n9790993237 / 7299917200\nEmail\nmanigandan@centerforaia.com\n\nDesired Candidate Profile\n\nPerks and Benefits\n\nRoleBusiness Analyst\nIndustry TypeBPO, Call Centre, ITeS\nFunctional AreaIT Software - DBA, Datawarehousing\nEmployment TypeFull Time, Permanent\nRole CategorySystem Design/Implementation/ERP/CRM\nEducation\nUG :Other Graduate, Any Graduate in Any Specialization, B.Com in Any Specialization, Diploma in Any Specialization, B.Sc in Any Specialization, B.Tech/B.E. in Any Specialization\nPG :M.Com in Any Specialization, MCA in Any Specialization, M.Tech in Any Specialization, PG Diploma in Any Specialization, MBA/PGDM in Any Specialization, MS/M.Sc(Science) in Any Specialization, Post Graduation Not Required, Other\nKey Skills\nBusiness IntelligenceArtificial IntelligenceNatural Language ProcessingNeural NetworksData MiningMachine LearningDeep LearningSQLData ScienceRNLPCloud ComputingData AnalysisPLSQLData WarehousingETLPredictive AnalyticsPython',
 "Job description\nDear Candidate,\n\nGreetings from HCL!!!\nWe are looking for Data scientists with experience in machine learning algorithms and strong SQL experience.\nIf you are Keen with Below Skill Set. Please do send the Updated CV with details such as current ctc, expected ctc and notice period to m_divvya@hcl.com / 8754448290.We are looking only for immediate joiners. Candidates with more than 30 days notice please don't apply.\n\n\nTechnical Skills:\nOverall 5+ years of experience in advanced analytics and leading/mentoring team members\nProficient in Python & SQL with minimum 2-3 years of hands on experience\nSolid fundamentals, knowledge of supervised, unsupervised, reinforcement learning machine learning and deep learning algorithms, such as classifiers, cluster analysis, dimension reduction, regression, CNN, RNN, DQN, temporal difference methods, sequence modeling, probability theory, algorithm design and theory of computation, information retrieval\nAbility to work and execute projects on both structured and unstructured data in a big data environment • Strong at preparing data for analysis using SQL and experience working with the industry leading BI tools like Tableau, visualizing the data and executing to specifications\nExperience of end to end implementation of predictive analytics projects for at least 1-3 years • Exposure to text analytics, web scraping, big data technologies and graph databases would be desirable • Exposure to visualization tools • Experience of intent to learn software domain related to VMware products and the way virtualization software/hardware\n\nPreferred Skills:\nGood understanding of API connections and data pipelining • Knowledge with Natural Language Processing (e.g. word2vec, doc2vec, attention, LDA) • Understanding of different model performance metrics and hyperparameter optimization • Business Acumen, ability to translate business needs into a set of workable, specific requirements • Well versed with MS PowerPoint/Visio\nAbility to understand business requirements, KPIs and convert into analytical hypothesis in a structured and logical manner along with solution identification • Ability to handle multiple projects at a time in terms of multitasking, prioritization, allocation and team management • Ability to coordinate and work within multiple business units from project management perspective • Ability to work across geographies and interact with global stakeholders • Prior experience working in Agile methodologies/JIRA would be a plus\nWhat we are looking for:\nBS/BE in Computer Sciences, Math, Statistics or related field. Masters preferred.\nProficient in SQL and experience with efficient processing of large data sets. Ability to write sophisticated and optimized queries against large databases • Proficient in data visualization tools such as Mode Analytics or Tableau • Proficient in Excel • Experience in statistical computing with Python/R • Ability to handle several concurrent activities with strong organizational skills and attention to detail We're team players. You'll do well if you're one too\nRoleIT/Technical Content Developer\nIndustry TypeIT-Software, Software Services\nFunctional AreaIT Software - Application Programming, Maintenance\nEmployment TypeFull Time, Permanent\nRole CategoryOther\nEducation\nUG :B.Tech/B.E. in Any Specialization\nKey Skills\nMachine LearningSQL",
 '---',
 'Job description\nRoles and Responsibilities\n\n\n- Selecting features, building and optimizing classifiers using machine learning techniques\n\n- Data mining using state-of-the-art methods\n\n- Enhancing data collection procedures to include information that is relevant for building analytic systems\n\n- Processing, cleansing, and verifying the integrity of data used for analysis\n\n- Doing ad-hoc analysis and presenting results in a clear manner\n\n- Creating automated anomaly detection systems and constant tracking of its performance\n\nSkills Required :\n\n- Excellent understanding of machine learning techniques and algorithms, such as k-NN, Naive Bayes, SVM, Decision Forests, etc.\n\n- Experiences with one or more of the following is highly desirable: HPC/Parallelization, operationalizing ML models; cloud computing (e.g. Google Cloud, AWS, etc.); familiarity with ML frameworks such as Tensorflow, Theano, MXNet, etc\n\n- Good experience in a few of the following areas: deep neural networks, reinforcement learning, Markov Random Fields, Bayesian networks, semi-supervised learning, computer vision, image processing, signal processing, distributed computing, and/or numerical optimization\n\n- 2+ years of experience with computer vision and deep learning solutions, including image classification, object detection, segmentation, and equivalent computer vision-based vision tasks\n\n- Experience with common data science toolkits, such as R, Weka, NumPy, etc . Excellence in at least one of these is highly desirable\n\n- Proficiency in using query languages such as SQL, Hive, Pig\n\n- Good applied statistics skills, such as distributions, statistical testing, regression, etc.\n\n- Good scripting and programming skills\n\n- Data-oriented personality\n\n- B.Tech/M.Tech degree in from reputed institutes like IIT / NIT / BITS\nRoleData Analyst\nIndustry TypeIT-Software, Software Services\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :B.Tech/B.E. in Any Specialization\nPG :M.Tech in Any Specialization\nDoctorate :Doctorate Not Required\nKey Skills\nHiveRCloud ComputingData ScientistComputer VisionMachine LearningDeep LearningSQLPig',
 '---',
 '---',
 "Job description\nPlease note that this role will be Remote / Home-based for next 6 to 12 months.\n\nIn DOJI, we are building a next generation marketplace and setting new standards for e-commerce buyers and sellers worldwide. We are a UK based tech start-up, founded by three passionate entrepreneurs with a track record of building and exiting successful ventures.\nWe're excited to build this world-class team that is going to reshape the way people buy and sell consumer goods.\n\nRoles and Responsibilities\n\nPerform exploratory and statistical analyses to understand and predict our customer behaviours, identify bottlenecks, and answer critical business questions.\nBuild and deploy scalable machine learning models and oversee their performance against KPIs.\nForecast our users conversion, engagement, and churn with rigorous statistical models\nBuild overall data capability of our organisation by performing complex data processing, building data pipelines and developing data products which can be directly used by our business users such as marketing and product teams\n\nRequirements\n\nFollowing are the mandatory skills & experience requirements for this role:\nBeen a data scientist for 2+ years in a commercial set-up\nDirect experience in performing statistical analyses or building a variety of machine learning models from complex, specialised or large data pools.\nPassion for understanding user behaviour and building solutions to optimise customer experience and growth.\nDemonstrated competency with unsupervised machine learning algorithms (k-means clustering, isolation forests etc.) and / or supervised algorithms (logistic regression, SVM, Random Forests, GBM etc.)\nDirect experience using programming languages such as Python or R for statistical and/or numeric computing\nUndergraduate degree in a quantitative discipline (maths, statistics, econometrics etc.) or computer science\n\nAlthough the following requirements are not mandatory, however we would strongly prefer candidates with this skill and experience.\nWe would prefer someone who also has experience in: data engineering, building data pipelines and cloud (AWS, Azure or GCP).\nExperience with additional programming languages used for data processing such as SQL, Hive, PySpark, Scala etc.\nExperience with consumer retail or e-commerce data\nPostgraduate degree in a quantitative discipline or computer science\n\nPerks and Benefits\n\nA very competitive package of 15 to 20 Lacs\nBe part of a start-up with an entrepreneurial mindset that thinks big, with a long-term vision.\nBe the owner of your own development in an environment that is full of opportunities, learning, growth, expansion and challenging projects.\nShare and learn with the team, amongst great professionals and experts.\nAn excellent work environment, with everything that you need to enjoy a great experience\n\nSince this role will be 'Remote' (e.g. home office) during the initial stages, you will be responsible to ensure proper working conditions (computer and related equipment, reliable internet connection, etc) and availability during normal business working hours. As per business needs, you could be asked to work from an office based office location in the future.\nIn Doji, we work hard to promote a culture of inclusiveness and diversity that seeks equality and values from different perspectives. We believe in building trust and fairness amongst people and making a positive impact on the environment.\nShould you require reasonable adjustments throughout the hiring process, please don't hesitate to get in touch with us.\nRoleData Analyst\nIndustry TypeInternet, Ecommerce\nFunctional AreaAnalytics & Business Intelligence\nEmployment TypeFull Time, Permanent\nRole CategoryAnalytics & BI\nEducation\nUG :Any Graduate in Any Specialization\nKey Skills\nData ScienceMachine LearningPython\nPysparkRHiveLogistic RegressionData Engineeringdata scientistSVMStatisticsSQL\nSkills highlighted with ‘‘ are preferred keyskills",

In [11]:
#creating a dataframe
import pandas as pd
Data_Scientist=pd.DataFrame({})
Data_Scientist['JOB_TITLE']=Job_Title[0:10]
Data_Scientist['JOB_LOCATION']=Job_Location[0:10]
Data_Scientist['COMPANY_NAME']=Company_Name[0:10]
Data_Scientist['JOB_DESCRIPTION']=Job_Description[0:10]
Data_Scientist

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,JOB_DESCRIPTION
0,Data Scientist/Data Analyst-immediate,"Chennai, Pune, Bengaluru, Hyderabad",CAIA-Center For Artificial Intelligence & Adva...,Job description\nDear Candidate\n\nSchedule a ...
1,HCL hiring Data scientist with exp in machine ...,Bengaluru,HCL Technologies Limited,"Job description\nDear Candidate,\n\nGreetings ..."
2,Data Scientist -Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,---
3,Data Scientist - Machine Learning,Bengaluru,AugmatrixGo,Job description\nRoles and Responsibilities\n\...
4,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,---
5,Data Scientist - Machine Learning,Bengaluru,BLUE YONDER INDIA PRIVATE LIMITED,---
6,Data Scientist - Machine Learning - Remote Wor...,"Delhi NCR, Bengaluru, Anywhere in India",Doji Ltd,Job description\nPlease note that this role wi...
7,Lead Data Scientist - Complete Remote Work,"Chennai, Pune, Delhi NCR, Mumbai, Bengaluru, H...",Techolution India Private Limited,Job description\n\nWe are looking for qualifie...
8,Data Scientist (Healthcare/Pharma Domain prefe...,Bengaluru,GENPACT India Private Limited,---
9,Data Scientist,Bengaluru,24/7 Customer,"Job description\nAs a data scientist, you d be..."

Q3: In this question you have to scrape data using the filters available on the webpage as shown below: 
 
 
You have to use the location and salary filter. You have to scrape data for “Data Scientist” designation for first 10 job results. You have to scrape the job-title, job-location, company_name, experience_required. The location filter to be used is “Delhi/NCR” The salary filter to be used is “3-6” lakhs The task will be done as shown in the below steps: 
    
1. first get the webpage https://www.naukri.com/ 
2. Enter “Data Scientist” in “Skill,Designations,Companies” field . 
3. Then click the search button. 
4. Then apply the location filter and salary filter by checking the respective boxes 
5. Then scrape the data for the first 10 jobs results you get. 
6. Finally create a dataframe of the scraped data.

In [12]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [13]:
url="https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr&ctcFilter=3to6"
driver.get(url)

In [14]:
# creating empty lists for scraping data
Job_Title=[]
Job_Location=[]
Company_Name=[]
Experience_Required=[]

In [15]:
#scraping the job-titles
title=driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")

for i in title:
    titles=i.text
    Job_Title.append(titles)
Job_Title

['Data Scientist - Python/Machine Learning',
 'Data Scientist - Commercial Planning and Analysis',
 'Data Scientist - Machine Learning/ Artificial Intelligence - IT',
 'Tech Mahindra hiring For Data Scientist- Noida',
 'GCP Skilled Analytics Resources (Data engineer / Data scientists)',
 'Data Scientist',
 'Data Scientist Machine Learning',
 'Data Scientist',
 'Business Analyst - Data Scientist',
 'Analyst - Data Scientist',
 'Data Scientist',
 'Only Fresher / Data Scientist / Data Analyst / Business Analytics- MNC',
 'Senior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Lead Data Scientist',
 'Excellent opportunity For Lead Data Scientist at Noida location']

In [16]:
#scraping the job-location
loc=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span")

for i in loc:
    loca=i.text
    Job_Location.append(loca)
Job_Location

['Noida',
 'Delhi NCR, Gurgaon',
 'Delhi/NCR Delhi NCR, Noida',
 'Noida',
 'Pune, Bengaluru, Gurgaon',
 'Gurgaon Gurugram',
 'Gurgaon',
 'Delhi NCR',
 'Gurgaon',
 'Gurgaon',
 'Faridabad, Delhi NCR, Ghaziabad',
 'Delhi NCR, Noida, Gurgaon',
 'Delhi',
 'Delhi',
 'Delhi',
 'Delhi',
 'Gurgaon',
 'Gurgaon',
 'Delhi NCR, Noida(Sector-142 Noida)',
 'Delhi NCR(Sector-142 Noida), Noida']

In [17]:
#scraping the company name
comp=driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")

for i in comp:
    c=i.text
    Company_Name.append(c)
Company_Name

['Jubna',
 'Air Asia India Limited',
 'Talent Acceleration Corridor',
 'tech mahindra ltd',
 'Aerial Telecom Solutions Pvt. Ltd.',
 'IBM India Pvt. Limited',
 'Delhivery',
 'Eighteen Pixels India Private Limited',
 'HyreFox Consultants Pvt Ltd',
 'HyreFox Consultants Pvt Ltd',
 'Amity University',
 'GABA Consultancy services',
 'iNICU',
 'Sentieo',
 'Mahajan Imaging',
 'Mahajan Imaging',
 'T & A Solutions',
 'itForte Staffing Services Private Ltd.',
 'NEC CORPORATION INDIA PRIVATE LTD',
 'NEC CORPORATION INDIA PRIVATE LTD']

In [18]:
#scraping the experience required
exp=driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span")

for i in exp:
    e=i.text
    Experience_Required.append(e)
Experience_Required

['5-8 Yrs',
 '1-6 Yrs',
 '6-11 Yrs',
 '5-10 Yrs',
 '3-8 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '2-6 Yrs',
 '3-5 Yrs',
 '1-3 Yrs',
 '6-8 Yrs',
 '0-0 Yrs',
 '1-5 Yrs',
 '2-7 Yrs',
 '2-6 Yrs',
 '2-6 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '9-14 Yrs',
 '9-14 Yrs']

In [19]:
#creating a dataframe
import pandas as pd
Data_Scientists=pd.DataFrame({})
Data_Scientists['JOB_TITLE']=Job_Title[0:10]
Data_Scientists['JOB_LOCATION']=Job_Location[0:10]
Data_Scientists['COMPANY_NAME']=Company_Name[0:10]
Data_Scientists['EXPERIENCE_REQUIRED']=Experience_Required[0:10]
Data_Scientists

,JOB_TITLE,JOB_LOCATION,COMPANY_NAME,EXPERIENCE_REQUIRED
0,Data Scientist - Python/Machine Learning,Noida,Jubna,5-8 Yrs
1,Data Scientist - Commercial Planning and Analysis,"Delhi NCR, Gurgaon",Air Asia India Limited,1-6 Yrs
2,Data Scientist - Machine Learning/ Artificial ...,"Delhi/NCR Delhi NCR, Noida",Talent Acceleration Corridor,6-11 Yrs
3,Tech Mahindra hiring For Data Scientist- Noida,Noida,tech mahindra ltd,5-10 Yrs
4,GCP Skilled Analytics Resources (Data engineer...,"Pune, Bengaluru, Gurgaon",Aerial Telecom Solutions Pvt. Ltd.,3-8 Yrs
5,Data Scientist,Gurgaon Gurugram,IBM India Pvt. Limited,3-5 Yrs
6,Data Scientist Machine Learning,Gurgaon,Delhivery,1-3 Yrs
7,Data Scientist,Delhi NCR,Eighteen Pixels India Private Limited,2-6 Yrs
8,Business Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,3-5 Yrs
9,Analyst - Data Scientist,Gurgaon,HyreFox Consultants Pvt Ltd,1-3 Yrs

Q4: Write a python program to scrape data for first 10 job results for Data scientist Designation in Noida location. You have to scrape company_name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps: 
        
1. first get the webpage https://www.glassdoor.co.in/index.htm 
2. Enter “Data Scientist” in “Job Title,Keyword,Company” field and enter “Noida” in “location” field. 
3. Then click the search button. You will land up in the below page: 
4. Then scrape the data for the first 10 jobs results you get in the above shown page. 
5. Finally create a dataframe of the scraped data.

In [20]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [21]:
url="https://www.glassdoor.co.in/Job/noida-data-scientist-jobs-SRCH_IL.0,5_IC4477468_KO6,20.htm"
driver.get(url)

In [22]:
# creating empty lists for scraping data
Company_Ratings=[]
Company_Name=[]
Days_Ago=[]

In [23]:
#scraping the company name
name=driver.find_elements_by_xpath("//a[@class=' css-10l5u4p e1n63ojh0 jobLink']/span")

for i in name:
    nm=i.text
    Company_Name.append(nm)
Company_Name

['WSD Consultant',
 'QuantumIT',
 'HDFC Bank',
 'Biz2Credit Inc',
 'Techlive',
 'ANI Calls India Private Limited',
 'Simpplr Software India Pvt. Ltd.',
 'Salasar New Age Technologies',
 'Salasar New Age Technologies',
 'SearchUrCollege',
 'Dürr Somac GmbH',
 'THSTI',
 'ANI Calls India Private Limited',
 'Agrex Technologies Private Limited',
 'Black Console Technologies',
 'Great Learning',
 'Dürr AG',
 'GreenTech Intelligent Transportation System LLP',
 'Emerging India Group',
 'Gauge Data Solutions',
 'Priority Vendor',
 'ANI Calls India Private Limited',
 'xtLytics',
 'ANI Calls India Private Limited',
 'xtLytics',
 'ANI Calls India Private Limited',
 'Microsoft',
 'IElevate Institute',
 'ANI Calls India Private Limited',
 'iGloble Solutions']

In [24]:
#scraping the ratings of company
rat=driver.find_elements_by_xpath("//span[@class='compactStars ']")

for i in rat:
    r=i.text
    Company_Ratings.append(r)
Company_Ratings

['3.3',
 '3.7',
 '3.7',
 '5',
 '3.9',
 '4.2',
 '3.7',
 '3.1',
 '3.7',
 '3',
 '3',
 '4.4',
 '4']

In [25]:
#scraping the no. of days ago the job was posted 
day=driver.find_elements_by_xpath("//div[@class='d-flex align-items-end pl-std css-mi55ob']")

for i in day:
    days=i.text
    Days_Ago.append(days)
Days_Ago

['30d+',
 '16d',
 '3d',
 '30d+',
 '30d+',
 '24h',
 '1d',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '22d',
 '30d+',
 '9d',
 '7d',
 '14d',
 '30d+',
 '12d',
 '26d',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '30d+',
 '8d',
 '30d+',
 '16d']

In [26]:
#creating a dataframe
import pandas as pd
Data_scientist=pd.DataFrame({})
Data_scientist['Company_Name']=Company_Name[0:10]
Data_scientist['Company_Ratings']=Company_Ratings[0:10]
Data_scientist['Days_Ago']=Days_Ago[0:10]
Data_scientist

                       Company_Name Company_Ratings Days_Ago
0                    WSD Consultant             3.3     30d+
1                         QuantumIT             3.7      16d
2                         HDFC Bank             3.7       3d
3                    Biz2Credit Inc               5     30d+
4                          Techlive             3.9     30d+
5   ANI Calls India Private Limited             4.2      24h
6  Simpplr Software India Pvt. Ltd.             3.7       1d
7      Salasar New Age Technologies             3.1     30d+
8      Salasar New Age Technologies             3.7     30d+
9                   SearchUrCollege               3     30d+

Q5: Write a python program to scrape the salary data for Data Scientist designation in Noida location. You have to scrape Company name, Number of salaries, Average salary, Min salary, Max Salary. The above task will be, done as shown in the below steps: 
        
1. first get the webpage https://www.glassdoor.co.in/Salaries/index.htm 
2. Enter “Data Scientist” in Job title field and “Noida” in location field. 
3. Click the search button. 
4. After that you will land on the below page  
You have to scrape whole data from this webpage
5. Scrape data for first 10 companies. Scrape the min salary, max salary, company name, Average salary and rating of the company. 
6.Store the data in a dataframe.

In [27]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [28]:
url="https://www.glassdoor.co.in/Salaries/new-delhi-data-scientist-salary-SRCH_IL.0,9_IM1083_KO10,24.htm?clickSource=searchBtn"
driver.get(url)

In [29]:
# creating empty lists for scraping data
Min_Salary=[]
Max_Salary=[]
Average_Salary=[]
Company_Name=[]
Rating=[]

In [30]:
#scraping the minimum salary
min=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[1]")

for i in min:
    mi=i.text
    Min_Salary.append(mi)
Min_Salary

['₹456K',
 '₹420K',
 '₹585K',
 '₹336K',
 '₹595K',
 '₹727K',
 '₹509K',
 '₹629K',
 '₹804K',
 '₹205K',
 '₹985K',
 '₹583K',
 '₹819K',
 '₹1,554K',
 '₹829K',
 '₹87K',
 '₹478K',
 '₹936K',
 '₹641K',
 '₹1,442K']

In [31]:
#scraping the maximum salary
max=driver.find_elements_by_xpath("//div[@class='common__RangeBarStyle__values common__flex__justifySpaceBetween common__flex__container ']/span[2]")

for i in max:
    ma=i.text
    Max_Salary.append(ma)
Max_Salary

['₹11,789K',
 '₹1,636K',
 '₹2,200K',
 '₹1,024K',
 '₹2,769K',
 '₹1,597K',
 '₹1,168K',
 '₹1,719K',
 '₹1,281K',
 '₹1,835K',
 '₹1,911K',
 '₹1,227K',
 '₹1,592K',
 '₹3,283K',
 '₹2,035K',
 '₹1,377K',
 '₹1,681K',
 '₹1,807K',
 '₹1,140K',
 '₹3,561K']

In [32]:
#scraping the average salary
avg=driver.find_elements_by_xpath("//div[@class='col-2 d-none d-md-flex flex-row justify-content-end']/strong")

for i in avg:
    av=i.text
    Average_Salary.append(av)
Average_Salary

['₹ 12,81,419',
 '₹ 7,52,052',
 '₹ 9,98,925',
 '₹ 6,02,000',
 '₹ 7,71,657',
 '₹ 12,22,902',
 '₹ 7,91,015',
 '₹ 12,15,138',
 '₹ 10,21,889',
 '₹ 10,00,000',
 '₹ 14,33,387',
 '₹ 11,42,351',
 '₹ 12,57,579',
 '₹ 15,53,977',
 '₹ 13,09,262',
 '₹ 5,96,779',
 '₹ 10,67,848',
 '₹ 17,00,000',
 '₹ 9,75,474',
 '₹ 35,11,792']

In [33]:
#scraping the company name
name=driver.find_elements_by_xpath("//div[@data-test='job-info']/p[2]")

for i in name:
    nm=i.text
    Company_Name.append(nm)
Company_Name

['Delhivery',
 'Ericsson-Worldwide',
 'Accenture',
 'Tata Consultancy Services',
 'IBM',
 'UnitedHealth Group',
 'Valiance Solutions',
 'Innovaccer',
 'Cognizant Technology Solutions',
 'ZS Associates',
 'OYO',
 'EXL Service',
 'Optum',
 'Sprinklr',
 'dunnhumby',
 'Algo8.ai',
 'Tech Mahindra',
 'Publicis Sapient',
 'Nagarro',
 'Times Internet']

In [34]:
#creating a dataframe
import pandas as pd
data_scientist=pd.DataFrame({})
data_scientist['Company_Name']=Company_Name[0:10]
data_scientist['Min_Salary']=Min_Salary[0:10]
data_scientist['Max_Salary']=Max_Salary[0:10]
data_scientist['Average_Salary']=Average_Salary[0:10]
data_scientist

                     Company_Name Min_Salary Max_Salary Average_Salary
0                       Delhivery      ₹456K   ₹11,789K    ₹ 12,81,419
1              Ericsson-Worldwide      ₹420K    ₹1,636K     ₹ 7,52,052
2                       Accenture      ₹585K    ₹2,200K     ₹ 9,98,925
3       Tata Consultancy Services      ₹336K    ₹1,024K     ₹ 6,02,000
4                             IBM      ₹595K    ₹2,769K     ₹ 7,71,657
5              UnitedHealth Group      ₹727K    ₹1,597K    ₹ 12,22,902
6              Valiance Solutions      ₹509K    ₹1,168K     ₹ 7,91,015
7                      Innovaccer      ₹629K    ₹1,719K    ₹ 12,15,138
8  Cognizant Technology Solutions      ₹804K    ₹1,281K    ₹ 10,21,889
9                   ZS Associates      ₹205K    ₹1,835K    ₹ 10,00,000

Q6 : Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes: 
        1. Brand 
        2. Product Description 
        3. Price 
        4. Discount % 
 
To scrape the data you have to go through following steps: 
    
1. Go to flipkart webpage by url   https://www.flipkart.com/ 
2. Enter “sunglasses” in the search field where “search for products, brands and more” is written and click the search icon 
3. after that you will reach to a webpage having a lot of sunglasses. From this page you can scrap the required data as usual. 
4. after scraping data from the first page, go to the “Next” Button at the bottom of the page , then click on it 
5. Now scrape data from this page as usual 6. repeat this until you get data for 100 sunglasses.

In [12]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [13]:
url="https://www.flipkart.com/search?q=sunglasses&sid=26x&as=on&as-show=on&otracker=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&otracker1=AS_QueryStore_OrganicAutoSuggest_1_8_na_na_na&as-pos=1&as-type=RECENT&suggestionId=sunglasses%7CSunglasses&requestId=272f4cc8-5eef-4f52-a85f-1e8ac835c2a0&as-searchtext=SUNGLASS"
driver.get(url)

In [14]:
# creating empty lists for scraping data
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [15]:
for i in range(0,4):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")#scraping the brand of sunglasses
    for l in brand:
        Brand.append(l.text)
        
    product=driver.find_elements_by_xpath("//a[@class='IRpwTa']") #scraping the product description   
    for j in product:
        Product_Description.append(j.text)
        
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")    #scraping the price of sunglasses
    for k in price:
        Price.append(k.text)  
        
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")   #scraping the discount% 
    for p in dis:
        Discount.append(p.text) 
        
    next=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a") #scraping the path of next button
    driver.get(next[i].get_attribute('href'))#scraping the url for next button for each page

In [16]:
Brand[0:10]

['ROZZETTA CRAFT',
 'Rozdeal',
 'FDA COLLECTION',
 'shah collections',
 'Phenomenal',
 'shah collections',
 'Trendy Glasses',
 'like future',
 'Fastrack',
 'povty']

In [17]:
Product_Description[0:10]

['Mirrored, UV Protection Round Sunglasses (Free Size)',
 'Polarized, Night Vision, Riding Glasses, Mirrored, UV P...',
 'UV Protection, Polarized, Mirrored Rectangular Sunglass...',
 'UV Protection, Mirrored Retro Square Sunglasses (53)',
 'UV Protection Round Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)',
 'Mirrored Aviator Sunglasses (Free Size)',
 'Gradient, UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Wayfarer Sunglasses (Free Size)',
 'UV Protection Retro Square Sunglasses (Free Size)']

In [18]:
Price[0:10]

['₹399',
 '₹749',
 '₹220',
 '₹219',
 '₹399',
 '₹349',
 '₹309',
 '₹181',
 '₹699',
 '₹245']

In [19]:
Discount[0:10]

['72% off',
 '81% off',
 '83% off',
 '78% off',
 '80% off',
 '79% off',
 '75% off',
 '83% off',
 '12% off',
 '75% off']

In [20]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

160 107 160 160

In [21]:
#creating a dataframe
import pandas as pd
Sunglasses=pd.DataFrame({})
Sunglasses['Brand']=Brand[0:100]
Sunglasses['Product_Description']=Product_Description[0:100]
Sunglasses['Price']=Price[0:100]
Sunglasses['Discount']=Discount[0:100]
Sunglasses

,Brand,Product_Description,Price,Discount
0,ROZZETTA CRAFT,"Mirrored, UV Protection Round Sunglasses (Free...",₹399,72% off
1,Rozdeal,"Polarized, Night Vision, Riding Glasses, Mirro...",₹749,81% off
2,FDA COLLECTION,"UV Protection, Polarized, Mirrored Rectangular...",₹220,83% off
3,shah collections,"UV Protection, Mirrored Retro Square Sunglasse...",₹219,78% off
4,Phenomenal,UV Protection Round Sunglasses (Free Size),₹399,80% off
...,...,...,...,...
95,I Flash,UV Protection Round Sunglasses (54),₹174,85% off
96,Silver Kartz,UV Protection Oval Sunglasses (56),₹233,84% off
97,Fastrack,UV Protection Aviator Sunglasses (Free Size),₹659,17% off
98,Fastrack,"UV Protection, Riding Glasses, Mirrored Rectan...",₹759,15% off
99,ROZZETTA CRAFT,"UV Protection, Mirrored Clubmaster Sunglasses ...",₹380,77% off

Q7: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includesearpods-poweradapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace. 
 
You have to scrape the following attributes. These are  
1. Rating   
2. Review_summary     
3. Full review 
You have to scrape this data for first 100 reviews.

In [22]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [23]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKCTSVZAXUHGR3QP11A&marketplace=FLIPKART"
driver.get(url)

In [24]:
# creating empty lists for scraping data
Rating=[]   
Review_summary=[]     
Full_review=[]

In [25]:
for i in range(0,11):
    rat=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']") #scraping the ratings
    for l in rat:
        Rating.append(l.text)
        
    sum=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")    #scraping the review summary
    for j in sum:
        Review_summary.append(j.text)  
        
    rev=driver.find_elements_by_xpath("//div[@class='row']")    #scraping the full review
    for k in rev:
        Full_review.append(k.text)
    
    next=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")#scraping the path of next button
    driver.get(next[i].get_attribute('href'))    #scraping the url for next button for each page

In [26]:
print(len(Rating),len(Review_summary),len(Full_review))

109 110 462

In [27]:
#creating a dataframe
import pandas as pd
Iphone=pd.DataFrame({})
Iphone['Rating']=Rating[0:100]
Iphone['Review_summary']=Review_summary[0:100]
Iphone['Full_review']=Full_review[0:100]
Iphone

,Rating,Review_summary,Full_review
0,5,Perfect product!,4.7★
1,5,Great product,5\nPerfect product!
2,5,Perfect product!,Amazing phone with great cameras and better ba...
3,5,Highly recommended,"Flipkart Customer\nCertified Buyer, Hyderabad\..."
4,5,Perfect product!,2068344
...,...,...,...
95,5,Delightful,"Avishek Naha\nCertified Buyer, Serampore\nOct,..."
96,5,Simply awesome,10041
97,5,Super!,5\nBrilliant
98,5,Great product,"I have migrated from OP 7pro... and trust me, ..."
99,5,Super!,"Pratik M\nCertified Buyer, New Delhi\n7 months..."

Q8: Scrape data for first 100 sneakers you find when you visit flipkart.com and search for “sneakers” in the search field. You have to scrape 4 attributes of each sneaker : 
        
1. Brand 
2. Product Description 
3. Price 
4. discount %

In [33]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [34]:
url="https://www.flipkart.com/search?q=sneakers&as=on&as-show=on&otracker=AS_Query_OrganicAutoSuggest_3_8_na_na_na&otracker1=AS_Query_OrganicAutoSuggest_3_8_na_na_na&as-pos=3&as-type=RECENT&suggestionId=sneakers&requestId=32b3211d-a7ac-4369-b960-d9dbff80cc97&as-searchtext=sneakers"
driver.get(url)

In [35]:
# creating empty lists for scraping data
Brand=[]
Product_Description=[]
Price=[]
Discount=[]

In [36]:
for i in range(0,4):
    brand=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")#scraping the brand of sneakers
    for l in brand:
        Brand.append(l.text)
        
    product=driver.find_elements_by_xpath("//a[@class='IRpwTa']")    #scraping the product description
    for j in product:
        Product_Description.append(j.text)
        
    price=driver.find_elements_by_xpath("//div[@class='_30jeq3']")    #scraping the price of each sneakers
    for k in price:
        Price.append(k.text)  
        
    dis=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")    #scraping the discount %
    for p in dis:
        Discount.append(p.text) 
        
    next=driver.find_elements_by_xpath("//nav[@class='yFHi8N']/a")#scraping the path of next button
    driver.get(next[i].get_attribute('href'))#scraping the url for next button for each page

In [37]:
print(len(Brand),len(Product_Description),len(Price),len(Discount))

160 132 160 160

In [38]:
#creating a dataframe
import pandas as pd
Sneakers=pd.DataFrame({})
Sneakers['Brand']=Brand[0:100]
Sneakers['Product_Description']=Product_Description[0:100]
Sneakers['Price']=Price[0:100]
Sneakers['Discount']=Discount[0:100]
Sneakers

,Brand,Product_Description,Price,Discount
0,French Connection,Sneakers For Men,"₹2,058",48% off
1,Marc Ecko,Sneakers For Men,"₹1,049",52% off
2,Chevit,Combo Pack of 4 Casual Sneakers With Sneakers ...,₹499,75% off
3,World Wear Footwear,Combo Pack of 4 Latest Collection Stylish Casu...,₹499,75% off
4,Robbie jones,171 Smart Tan Lace-Ups Casuals for Men Sneaker...,₹399,60% off
...,...,...,...,...
95,Clymb,Casual Sneakers Shoes For Men Sneakers For Men,₹299,70% off
96,STRANGER BROTHERS,"Casual , Partywear Sneakers Shoes For Men's An...",₹549,45% off
97,PERY-PAO,Sneakers For Men,₹437,56% off
98,Wika,Combo Pack Of 3 Sneakers For Men,₹395,60% off
99,Layasa,Stylish and Comfortable Sneakers For Men,₹379,62% off

Q9: Go to the link - https://www.myntra.com/shoes  Set Price filter to “Rs. 6649 to Rs. 13099” , Color filter to “Black” 

  
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe

In [39]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [40]:
url="https://www.myntra.com/shoes?f=Color%3ABlack_36454f&plaEnabled=false&rf=Price%3A5839.0_11559.0_5839.0%20TO%2011559.0"
driver.get(url)

In [41]:
# creating empty lists for scraping data
Shoe_Brand=[]
Shoe_Description=[]
Price=[]

In [42]:
start_page=0
end_page=3
for page in range(start_page,end_page+1): 
    nxt_button=driver.find_element_by_xpath("//li[@class='pagination-next']")#scraping the path of next button

    brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")#scraping the brand
    for l in brand:
        Shoe_Brand.append(l.text)
        
    product=driver.find_elements_by_xpath("//h4[@class='product-product']")    #scraping the product description
    for j in product:
        Shoe_Description.append(j.text)
        
    price=driver.find_elements_by_xpath("//span[@class='product-discountedPrice']")    #scraping the discounted price
    for k in price:
        Price.append(k.text)  
        
    if nxt_button.text=='next':
            nxt_button.click()
            time.sleep(5)

In [43]:
print(len(Shoe_Brand),len(Shoe_Description),len(Price))

200 200 144

In [44]:
#creating a dataframe
import pandas as pd
Shoes=pd.DataFrame({})
Shoes['Shoe_Brand']=Shoe_Brand[0:100]
Shoes['Shoe_Description']=Shoe_Description[0:100]
Shoes['Price']=Price[0:100]
Shoes

      Shoe_Brand                         Shoe_Description      Price
0           Nike               Men React Infinity Running  Rs. 11099
1           Nike                   Men Zoom Running Shoes   Rs. 6399
2           Nike             Men Solid SKYVE MAX Sneakers   Rs. 6599
3   Kenneth Cole  Men Solid Formal Genuine Leather Derbys   Rs. 6153
4           Geox                   Women Slip-On Sneakers   Rs. 7999
..           ...                                      ...        ...
95  Kenneth Cole         Men Solid Leather Formal Brogues   Rs. 6499
96  UNDER ARMOUR               HOVR Sonic 3 Running Shoes   Rs. 8999
97          Geox                     Men Leather Sneakers   Rs. 8999
98  Kenneth Cole                Men Leather Formal Derbys   Rs. 8999
99  Kenneth Cole          Men Solid Leather Formal Derbys   Rs. 9349

[100 rows x 3 columns]

Q10:  Go to webpage https://www.amazon.in/    Enter “Laptop” in the search field and then click the search icon.   Then set CPU Type filter to “Intel Core i7” and “Intel Core i9”  
WEB SCRAPING ASSIGNMENT-2 
. 
 
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributes for each laptop: 
    
1. title 
2. Ratings 
3. Price

In [45]:
driver=webdriver.Chrome(executable_path="C:\\Users\\HP\\Downloads\\chromedriver.exe")

In [46]:
url="https://www.amazon.in/s?k=laptop&i=computers&rh=n%3A1375424031%2Cp_n_feature_thirteen_browse-bin%3A12598163031%7C16757432031&dc&qid=1611567255&rnid=12598141031&ref=sr_nr_p_n_feature_thirteen_browse-bin_17"
driver.get(url)

In [47]:
# creating empty lists for scraping data
Title=[] 
Ratings=[] 
Price=[]

In [48]:
#scraping the name/title 
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")
for l in title:
     Title.append(l.text)

Title[0:10]

['Dell Inspiron 5501 15.6 Inch FHD Laptop (10th Gen i7-1065G7/8 GB/512 SSD/2 GB Nvidia Graphics/Win 10 + MS Office H&S 2019/Silver) D560213WIN9S',
 'Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Core i7-8750H/16GB/512 GB SSD/Windows 10 + MS Office/ Nvidia GTX 1050Ti 4GB Graphics/Silver)',
 'Mi Notebook Horizon Edition 14 Intel Core i5-10210U 10th Gen Thin and Light Laptop(8GB/512GB SSD/Windows 10/Nvidia MX350 2GB Graphics/Grey/1.35Kg), XMA1904-AR+Webcam',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 'Lenovo Yoga S740 Intel Core i7 10th Gen 14 inch UHD Ultra Thin and Light Laptop (16GB/1TB SSD/Windows/Office/NVIDIA MX250 2GB/Iron Grey/1.4Kg), 81RS00B0IN',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/1 TB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/8GB(Up to 16)/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 '(Renewed) Dell Latitude E7470 14-inch Laptop (Core i7 6th Gen/16GB/500 GB HDD/Windows 10/MS Office Pro 2019/Intel Graphics), Black',
 'MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB SSD/Windows 10 Home/4 GB Graphics/NVIDIA Geforce GTX 1650 Ti with Max-Q) GF63 Thin 9SCSR-1039IN Gaming Laptop (15.6 inch, Black, 1.86 kg)',
 '(Renewed) Dell Latitude E5570 15-inch Laptop (Core I7 6th Gen/8 GB/256 GB SSD/Windows 10/MS Office Pro 2019/AMD Graphics), Black']

In [49]:
#scraping the price of laptop
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")    
for k in price:
    Price.append(k.text)
    
Price[0:10]

['85,890',
 '1,27,990',
 '54,899',
 '55,299',
 '96,551',
 '53,599',
 '52,699',
 '54,399',
 '70,990',
 '61,999']

In [50]:
from selenium.common.exceptions import  NoSuchElementException
urls=[]
for i in driver.find_elements_by_xpath("//a[@class='a-link-normal a-text-normal']"):#scraping the path of url for each laptop
    urls.append(i.get_attribute("href")) 

for url in urls[0:10]:
    
    try:
        driver.get(url)
        rat=driver.find_element_by_xpath("//span[@class='a-size-medium a-color-base']").text #scraping the ratings of each laptop
        Ratings.append(rat)
    except NoSuchElementException :
        Ratings.append("---")

In [51]:
print(len(Title),len(Ratings),len(Price))

30 10 28

In [52]:
#creating a dataframe
import pandas as pd
Laptop=pd.DataFrame({})
Laptop['Title']=Title[0:10]
Laptop['Ratings']=Ratings[0:10]
Laptop['Price']=Price[0:10]
Laptop

                                               Title       Ratings     Price
0  Dell Inspiron 5501 15.6 Inch FHD Laptop (10th ...  3.4 out of 5    85,890
1  Dell XPS 9570 15.6-inch FHD Laptop (8th Gen Co...  2.5 out of 5  1,27,990
2  Mi Notebook Horizon Edition 14 Intel Core i5-1...  4.2 out of 5    54,899
3  (Renewed) Dell Latitude E7470 14-inch Laptop (...           ---    55,299
4  Lenovo Yoga S740 Intel Core i7 10th Gen 14 inc...  3.3 out of 5    96,551
5  (Renewed) Dell Latitude E7470 14-inch Laptop (...           ---    53,599
6  (Renewed) Dell Latitude E7470 14-inch Laptop (...           ---    52,699
7  (Renewed) Dell Latitude E7470 14-inch Laptop (...           ---    54,399
8  MSI GF63 Thin Core i7 9th Gen - (8 GB/512 GB S...           ---    70,990
9  (Renewed) Dell Latitude E5570 15-inch Laptop (...           ---    61,999